<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="LogFileAppender" />
		</root>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<appSettings>
		<add key="CheckInterval" value="1" />
		<add key="ResponceTime" value="1" />
		<add key="Site" value="https://docs.microsoft.com/en-us/" />
		<add key="Email" value="vitagriciute@coherentsolutions.com" />
		<add key="Path" value="C:\\Users\\VitaGriciute\\source\\repos\\TrainingCetnerTasks\\NET02\\Task02.3\\bin\\Debug\\net6.0" />
	</appSettings>
</configuration>