<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
		<section name="webSettings" type="MonitoringApp2.WebSitesConfiguration.WebsitesConfig, MonitoringApp2"/>
	</configSections>
	<log4net>
		<root>
			<level value="DEBUG"/>
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ManagedColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
	<webSettings>
		<webSites>
			<add title="Microsift" 
				 checkInterval="0:00:00:04.0000"
				 responceTime="0:00:00:00.8348"
				 site="https://docs.microsoft.com/en-us/"
				 email="ceceliajohnson777@gmail.com"
				 path="C:\\Users\\VitaGriciute\\source\\repos\\TrainingCetnerTasks\\NET02\\MonitoringApp2"/>
			<add title="BBC"
				 checkInterval="0:00:00:02.0000"
				 responceTime="0:00:00:00.7348"
				 site="https://www.bbc.com"
				 email="ceceliajohnson777@gmail.com"
				 path="C:\\Users\\VitaGriciute\\source\\repos\\TrainingCetnerTasks\\NET02\\MonitoringApp2"/>
		</webSites>
	</webSettings>
</configuration>